name: Run Tests


on:
  push:
    branches:
    - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
    - name: Checkout Code
      uses: actions/checkout@v4


    - name: Set up runtime
      uses: actions/setup-go@v5
      with:
        go-version: "1.25"

    - name: Run tests
      run: |
        #!/bin/bash
        echo "Hello, world"

        ls -lat
